#login{
    width: 100px ; /*aumenta a largura*/
    height: 40px ; /*aumenta a altura*/
    background-color: rgb(235, 46, 46);
    color: #ffff;
    border-radius: 20px; /*torna as bordas redondas*/
    border: none;
}



#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner{
    height: 450px;
    width: 450px;
}